.news-container {
    box-sizing: border-box;
    padding-left: 5%; 
    padding-right: 5%; 
    width: 100%;
    margin-top: 50px;
  }

  
  .content-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
  }
  
  .news-list {
    width: 100%;
    max-width: 100%;
  }
  
  .side-menu {
    display: block;
  }
  
  .show {
    display: block;
  }

  .filter-button {
    background-color: #1e40af;
    color: white;
    font-size: 0.875rem; 
    padding: 0.5rem 1rem; 
    border-radius: 1rem; 
    margin-bottom: 1rem; 
    border: none;
    cursor: pointer;
    display: block;
  }
  
  
  @media (min-width: 768px) {

    .news-container {
      padding-left: 10px;  
      padding-right: 10px;
    }

    .news-list {
      width: 100%; 
    }
    
    .toggle-button {
      display: none; 
    }
    
    .content-wrapper {
      flex-direction: row;
    }
    
    .side-menu {
      display: block; 
    }

    .filter-button {
        display: none;
  }
}